**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
README.md
.editorconfig
.gitattributes
**/*.md
**/logs
**/.DS_Store
